footer{
    h5{
        font-family: $font-1;
    }
        a{
            text-decoration: none;
            font-size: 17px;
        }
            li{
                color: white;
            }
                p{
                    font-size: 17px;
                    font-family: $font-2;
                }
                    a:hover{
                        color: $color-a !important;
                    }
                        i{
                            font-size: 25px;
                        }
}