#vaciar-historial{
    border: 0;
    background-color: $color-a;
    padding: 0.5rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
}
ul{
    color: $color-a;
}