h1{
    font-family: $font-1;
    font-size: 120%;
    color: $color-a;
    text-align: center; 
}
h2{
    font-family: $font-1;
    font-size: 130%;
    color: $color-a;
    text-align: center;
    padding-top: 7%;
}
p{
    color: white;
    font-family: $font-2;
    padding-left: 1%;
}