//variables
$color-a: #f9c433;
$font-1: Akira;
$font-2: Roboto mono;
//imports
@import "fonts_html_body";
@import "navbar";
@import "index";
@import "footer";
@import "button_index";
@import "contacto";
@import "instrumentos";