//variables
$color-a: #f9c433;
$color-b: #1a1a1a;
$color-c: rgb(255, 255, 255);
$font-1: Akira;
$font-2: Roboto mono;
$margen1: 24px;
//imports
@import "fonts_html_body";
@import "navbar";
@import "index";
@import "footer";
@import "button_index";
@import "contacto";
@import "instrumentos";
@import "vinilos";
@import "carrito";

// mixin general
@mixin cardbody($color-a, $font-2, $color-b, $color-c) {
        background-color: #1a1a1a;
        color: $color-a;
        font-family: $font-2;
        color: rgb(255, 255, 255);
}

.card-body{
    @include cardbody(#f9c433, Roboto mono, rgb(255, 255, 255), #1a1a1a);
    .card-title{
        color: $color-a;
    }
}