* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Akira;
  src: url(../font/Akira\ Expanded\ Demo.ttf);
}
@font-face {
  font-family: Roboto mono;
  src: url(../font/RobotoMono-VariableFont_wght.ttf);
  font-weight: 400;
}
html {
  height: 100%;
}

body {
  background-image: linear-gradient(to left, rgb(58, 57, 57), rgb(19, 19, 19));
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.navbar-nav {
  font-family: Akira;
}
.navbar-nav a {
  color: #f9c433 !important;
}

.navbar-toggler {
  color: #f9c433;
}

.navbar-expand-lg .navbar-toggler {
  border: 2px solid #f9c433 !important;
}

.navbar-expand-lg .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28249, 196, 51, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

h1 {
  font-family: Akira;
  font-size: 120%;
  color: #f9c433;
  text-align: center;
}

h2 {
  font-family: Akira;
  font-size: 130%;
  color: #f9c433;
  text-align: center;
  padding-top: 7%;
}

p {
  color: white;
  font-family: Roboto mono;
  padding-left: 1%;
}
p span {
  color: #f9c433;
}

#email-enviado {
  color: #f9c433;
  font-family: Akira;
  text-align: center;
  margin-top: 10px;
}

footer h5 {
  font-family: Akira;
}
footer hr {
  border-color: #f9c433;
}
footer a {
  text-decoration: none;
  font-size: 17px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: white;
  font-family: Roboto mono !important;
}
footer i {
  margin-right: 10px;
}
footer p {
  font-size: 17px;
  font-family: Roboto mono;
}
footer i {
  font-size: 25px;
}

.icon-youtube {
  color: #FF0000;
  transition: color 0.3s;
}

.icon-youtube:hover {
  color: #cc0000 !important;
}

.icon-instagram {
  color: #E4405F;
  transition: color 0.3s;
}

.icon-instagram:hover {
  color: #d31e40 !important;
}

.icon-facebook {
  color: #1877F2;
  transition: color 0.3s;
}

.icon-facebook:hover {
  color: #0b5fcc !important;
}

.icon-twitter {
  color: #1DA1F2;
  transition: color 0.3s;
}

.icon-twitter:hover {
  color: #0c85d0 !important;
}

.interlineado {
  line-height: 1;
}

@media (max-width: 762px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70px;
  }
}
section article {
  font-family: Akira;
  color: #f9c433;
  margin: 0 auto;
  display: grid;
  max-width: 500px;
}
section article button {
  height: 30px;
  margin-top: 4%;
}

.form {
  font-family: Akira;
  color: Roboto mono;
  margin: auto;
  max-width: 400px;
  margin-top: 30px;
}

.container {
  padding-top: 80px;
}

.card-img-top-ins {
  width: 100%;
  height: 600px;
  max-height: 30rem;
}

@media (max-width: 762px) {
  .card-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 210px;
    margin-right: 10px;
  }
}
@media (min-width: 992px) {
  .row {
    margin-left: 50px;
  }
}
.card {
  flex: 1 0 18rem;
  margin: 0.5rem;
  min-height: 10rem;
}

.card-img-top {
  width: 100%;
  height: 600px;
  max-height: 14rem;
}

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.carrito-vacio {
  color: rgb(255, 255, 255);
}

.carrito-comprado {
  color: rgb(255, 255, 255);
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: #f9c433;
  padding: 0.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
  border-bottom: 2px solid #f9c433;
}

.carrito-producto-imagen {
  width: 4rem;
  border-radius: 1rem;
}

.carrito-producto small {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: rgb(229, 59, 59);
  cursor: pointer;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
}

.carrito-acciones-vaciar {
  border: 0;
  background-color: #f9c433;
  padding: 0.5rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
}

.carrito-acciones-derecha {
  display: flex;
}

.carrito-acciones-total {
  display: flex;
  border: solid;
  text-transform: uppercase;
  padding: 0.5rem;
  color: #f9c433;
  border-color: 2px #f9c433;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  gap: 1rem;
}

.carrito-acciones-comprar {
  border: 0;
  background-color: #f9c433;
  padding: 0.5rem;
  margin-right: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.header-mobile {
  display: none;
}

.close-menu {
  display: none;
}

.disabled {
  display: none;
}

.card-body {
  background-color: #1a1a1a;
  color: #f9c433;
  font-family: Roboto mono;
  color: rgb(255, 255, 255);
}
.card-body .card-title {
  color: #f9c433;
}

.producto-agregar {
  border: 0;
  background-color: #f9c433;
  padding: 0.5rem;
  margin-right: 1rem;
  color: var(#1a1a1a);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 1rem;
}

/*# sourceMappingURL=style.css.map */
